@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

a{
    text-decoration: none;
    color: white;
}
.mainbody {
    min-height: 500px;
}
.nav-bar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    background-color:#1677ff;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border: 1px solid black
}
.nav-links{
    background-color: #1677ff;
    display: inline;
    text-align: center;
    width: 10%;
    color: white;
   
    padding:10px  0 10px 0;
    margin: 0;
    font-size: larger;
}

.title{
    width: auto;
    padding: 2px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px rgb(1, 1, 1);
    background-color:red;
    text-align: center;
    margin: auto;

}
.footer{
    display: flex;
    font-size: 20px;
    padding: 10px;
    width: auto;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-shadow: -1px -1px greenyellow;
    background-color: red;
    text-align: center;
}
footer > p {
    text-align: center;
    width: 33%;
}
.userspage{
    text-align: center;

}
.usersTable {
    margin: auto;
    padding: auto;
    width: 60%;
}
th,thead,tbody{
    border: 1px solid black;
    height: 25px;
}
thead {
    color: red;
}
tbody {
    color: #1677ff;
}
button,#upload{
    margin-top: 20px;
    color: white;
    background-color:#1677ff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
th > button {
    margin-top: 0;
    text-decoration: none;
    border: 0;
    width: 100%;
}
.carousel{
    align-items: center;
    text-align: center;
    background-color: #FEA116;
}
.cccc{
    width: 500px;
    align-items: center;
    text-align: center;
}
.black {
    background-color: hsla(0, 0%, 0%, 0.582);
  } 

.fa{
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-size: 2em;
    font-weight: 900px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: white;
}
